.List {
  position: relative;
  color: #F7F4F1;
  background-color: #1B150F;
  display: inline-block;
  width: 500px;
  height: 0%;
  max-width: 100%;
  margin: 20px;
  box-shadow: 0 2px 5px #1B150F;
}

.TodosContainer {
  margin: 10px;
  padding: 20px 50px;
}

.NewTodoForm {
  width: 100%;
}

.NewTodoForm input, button {
  background-color: #FFF;
  font-size: 1rem;
  padding: 15px 30px;
  border: none;
}

.NewTodoForm input[type="text"] {
  width: 75%;
  background-color: #FFF;
}

.NewTodoForm input[type="submit"], button {
  width: 25%;
  cursor: pointer;
  background-color: #FF9A35;
  border: none;
  color: #1B150F;
  font-weight: bold;
}

.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.close:hover {
  color: #FF9A35;
}

.random {
  width: 100%;
  margin-bottom: 5px;
}

@media screen and (max-width: 400px) {
  .List {
    padding: 20px;
  }
}
