* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  background-color: #F8D3AF;
}

.App {
  color: #1B150F;
  font-size: 18px;
  font-family: sans-serif;
}

header {
  padding: 20px;
  color: #F7F4F1;
  background-color: #1B150F;
}

.NewListContainer {
  padding: 20px 40px;
}

.NewListForm {
  max-width: 500px;
  margin: auto;
  padding-top: 40px;
}

.NewListForm input {
  background-color: #FFF;
  font-size: 1rem;
  padding: 15px 30px;
  border: none;
}

.NewListForm input[type="text"] {
  width: 75%;
  background-color: #FFF;
}

.NewListForm input[type="submit"] {
  width: 25%;
  cursor: pointer;
  background-color: #FF9A35;
  color: #1B150F;
  font-weight: bold;
}

.ListContainer {
  max-width: 1200px;
  padding: 20px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 400px) {
  .App {
    font-size: 16px;
  }
}
